@sudoplatform:registry=https://registry.yarnpkg.com/
@anonyome:registry=https://repo.tools.anonyome.com/repository/npm-hosted/
@sudoplatform-private:registry=https://repo.tools.anonyome.com/repository/npm-hosted/